@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@500&family=Roboto:wght@500&display=swap');

body{
    font-family: "Afacad Flux", sans-serif;

    background-image: url("images/contact.jpg");
    background-size: cover;
    background-repeat: repeat-y;
    margin: 0;
    padding: 0;

    color: white;
}

.footer{
    /* position: fixed;
    vertical-align: bottom; */
    margin-left: 0;
}

.srvs{
    text-align: center;

    margin-top: 30%;

    font-family: "Afacad Flux", sans-serif;
    
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px 8px rgb(0, 0, 0);
}

#up{
    margin-top: 50vh;
    font-size: 5vw;
    margin-bottom: 1%;
}

#line{
    background-color: rgb(255, 255, 255);
    height: 3px;

    max-width: 60%;
    margin: 0 20% auto;
    border-radius: 2rem;
    box-shadow: 2px 2px 8px black;

    margin-bottom: 14vh;
}

.pkgform{
    /* display: flex; */
    background-color: rgba(188, 224, 255, 0.801);
    border-radius: 1rem;
    /* max-width: 90%; */
    margin: 0 7% auto;
    align-items: center;
    justify-content: center;

    padding-bottom: 1%;
}

#fhead{
    width: 100%;
    text-align: center;
    padding-top: 2%;
    font-size: 2.5em;
    text-decoration: underline;

    text-shadow: 0 0 8px black;
    /* font-weight: 600; */
}

.pkgform form{
    text-align: center;
    font-size: 1.2em;
    text-shadow: 0 0 8px black;
}

#h{
    padding: 1% 2%;
    background-color: rgb(117, 184, 244);
    border: none;
    color: white;
    font-size: 1em;
    border-radius: 2rem;
    box-shadow: 0 0 8px rgb(100, 124, 148);
}

form input{
    box-shadow: 0 0 6px rgb(59, 59, 59);
    border: none;
    font-size: 1em;
    margin: 1vh auto;
}