@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@500&family=Roboto:wght@500&display=swap');


body{
    margin: 0;
    padding: 0;
    /* background-color: rgb(204, 204, 204); */
    font-family: "Afacad Flux", sans-serif;

    background-image: url("images/dstnbg.jpg");
    /* background-size: cover; */
    background-size: contain;

    background-repeat: no-repeat;
}

.srvs{
    text-align: center;

    margin-top: 40%;

    font-family: "Afacad Flux", sans-serif;
    
    color: white;
    text-shadow: 3px 3px 8px black;
}

#up{
    margin-top: 22vw;
    font-size: 5vw;
    margin-bottom: 1%;
}

#line{
    background-color: rgb(255, 255, 255);
    height: 3px;

    max-width: 60%;
    margin: 0 20% auto;
    border-radius: 2rem;
    box-shadow: 2px 2px 8px black;
}

.dlist{
    margin-top: 14vh;
    /* background-color: white; */
    margin: 14vh 5% auto;
    padding-top: 4%;
}

.dst{
    font-family: "Afacad Flux", sans-serif;

    background-color: rgba(32, 126, 176, 0.812);
    border-radius: 2rem;

    /* display: flex; */
    /* justify-content: space-around; */

    height: 40vh;

    /* max-width: 35%; */
    /* margin-left: 5%; */
    /* margin-right: 5%; */

    margin-bottom: 5%;
    
    padding-right: 5%;
    padding-left: 2%;
    margin-top: 3%;
    padding-bottom: 3%;

    padding-top: 0;
    box-shadow: 0 5px 17px rgb(63, 146, 173);
}

#dstn{
    color: white;
    /* width: 50%; */

    /* vertical-align: middle; */
}

.dtxt{
    display: flex; 
    justify-content: space-between;
    /* vertical-align: middle; */
}

#name{
    
    margin-right: 2vw;
    font-size: 3em;
}

.dst h2{
    /* 1% 0.7% auto; */
    text-shadow: 0 0 10px rgb(0, 66, 90);
    margin-top: 0;
    margin-bottom: 0;
}


#getpkg{
    /* text-align: right; */
    /* margin-top: ; */
    margin-right: 0;
    padding-left: 0;
    /* padding-top: 0; */

    /* padding: 2px 2px auto; */

    display: flex;    
    vertical-align: middle;

    margin: 2% 2% auto;
    
    position: relative;
    float: right;
    /* margin-left: 7%; */

    transition: background-color 0.6s ease, font-weight 0.6s ease;
}

#getpkg a{
    text-decoration: none;
    margin: 0;
    padding: 0;
    /* align-items: flex-end; */
    /* text-align: right; */
    display: flex;
    /* margin-right: 0; */
    margin-top: 2vh;
    
    /* margin-left: 1vw; */
    color: white;
    display: flex;

    padding-left: 12%;
    padding-right: 12%;
    padding-top: 5%;
    padding-bottom: 5%;

    flex-shrink: 0;

    border: 1px solid white;
    border-radius: 1rem;

    /* text-shadow: 0 0 5px black; */
    /* box-shadow: 0 0 5px black; */
}

#getpkg:hover a{
    background-color: white;
    color: rgb(0, 0, 0);
    font-weight: 800;
    /* border: 1px solid white; */
}

.imgs img{
    width: 31%;
    object-fit: cover;
    border-radius: 6%;
    margin-right: 2vw;
    box-shadow: 0 0 10px rgb(150, 194, 255);
}

.imgs{
    display: flex;
    justify-content: space-around;


    margin-top: 2%;
    
}

.imgs img:last-child{
    margin-right: 0;
}