.srvs{
    text-align: center;
    /* justify-content: center;
     */
    /* margin-top: 3000%; */
    /* margin: 80 80 80 80; */

    /* display: flex; */
    /* display: grid;
    place-items: center;
    height: 100v; */

    margin-top: 40%;

    font-family: "Afacad Flux", sans-serif;
    font-size: 5vw;
    color: white;
    text-shadow: 3px 3px 8px black;
}

#up{
    margin-top: 20vw;
    margin-bottom: 0px;
}