@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@500&family=Roboto:wght@500&display=swap');

body{
    margin: 0;
    padding: 0;

    width: 100%;
    height: 100%;
    /* background-color: rgb(204, 204, 204); */
    font-family: "Afacad Flux", sans-serif;

    background-image: linear-gradient(black, white);

    background-image: url(images/serv.jpg);
    
    background-size: contain;

    background-repeat: no-repeat;
}

.srvs{
    text-align: center;

    margin-top: 40%;

    font-family: "Afacad Flux", sans-serif;
    
    color: white;
    text-shadow: 3px 3px 8px black;
}

#up{
    margin-top: 50vh;
    font-size: 5vw;
    margin-bottom: 1%;
}

#pkgs{
    font-size: 3vw;
    margin-top: 14vh;
}

.pplr{
    
    text-align: center;
    margin-top: 40%;

    font-family: "Afacad Flux", sans-serif;
    
    color: white;
    text-shadow: 3px 3px 8px black;
}

#line{
    background-color: rgb(255, 255, 255);
    height: 3px;

    max-width: 60%;
    margin: 0 20% auto;
    border-radius: 2rem;
    box-shadow: 2px 2px 8px black;
}

.tpkg{
    display: flex;

    max-width: 88%;

    margin: 5% 6% auto;
    border-radius: 8%;
    align-items: center;
    justify-content: space-between;
}

.pcards{
    /* background-image: url('images/serv.jpg'); */
    /* background-size: contain; */
    display: flex;
    width: 31%;

    margin-right: 2%;

    background-color: rgba(79, 156, 189, 0.515);
    /* border: 200px rgb(255, 255, 255); */
    box-shadow: 0 0 10px rgba(119, 144, 213, 0.781);

    border-radius: 1rem;
    
    /* height: auto; */
    /* background-color: aqua; */
    background-size: contain;
    background-repeat: no-repeat;

    transition: transform 0.6s ease, box-shadow 0.2s ease, background-color 1s ease, color 0.6s ease;

    /* height: auto; */
}

#card1{
    background-image: url("images/goa.jpg");
}
#card2{
    background-image: url("images/bali.jpg");
}
#card3{
    background-image: url("images/meghalaya.jpg");
}

.pcards:hover{
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgb(35, 111, 133);

    color: white;
    background-color: rgba(79, 156, 189, 0.763);
    
}

.pcards:last-child{
    margin-right: 0;
}

.pcards b{
    /* padding-top: 42vh; */
    color: rgb(175, 16, 16);
    font-size: 2em;
    /* margin-top: 42vh; */
}

#ctxt{
    padding-top: 55%;
    padding-left: 8%;
    padding-right: 8%;
}

#pname{
    color: rgb(255, 255, 255);
    text-shadow: 2 2rem 4rem black;
    font-size: 2em;
}

.pcards p{
    color: rgb(255, 255, 255);
    /* margin-top: 55px; */
}

.pcards{
    color: rgb(253, 253, 253);
}

#plan{
    font-weight: 1000;
    font-size: medium;
}

.pcards ul{
    /* list-style: none; */
    list-style: '- ';
    margin-left: 0;
    padding-left: 0;
}

.dineins{
    /* margin-top: 5%; */
    margin-top: 6%;
    margin-left: 6%;
    /* display: flex; */
}

.dnhead{
    font-size: 3em;
    color: rgb(249, 252, 255);
    margin-top: 3vh;
    background-color: rgb(71, 84, 118);
    padding: 1%;
    margin-bottom: 2vh;
    /* padding-bottom: 2%; */
    display: flex;

    border-radius: 1.5rem;

    max-width: 44%;
    /* margin-right: 6%; */
    /* margin: 3vh 6% auto; */

    text-shadow: 0 1px 10px rgb(144, 183, 207);
}

.dineins a{
    text-decoration: none;
    font-size: larger;
}

#para{
    /* margin-top: 200vh; */
    display: flex;
    color: black;
    justify-content: space-between;
    text-shadow: none;
    /* max-width: 50%; */
}

#para p{
    max-width: 50%;
}

.dineins img{
    width: 30%;
    /* height: 16.8%; */
    max-height: 16.8%;
    display: flex;
    /* margin-left: 70%; */
    justify-content: left;
    /* align-items: flex-end; */
    position: relative;
    float: right;
    /* height: auto; */

    border-radius: 3%;
    margin-right: 6%;
}

#rentcar li{
    list-style: none;
}