@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@500&family=Roboto:wght@500&display=swap');

body{
    margin: 0;
    padding: 0;
    /* background-color: rgb(204, 204, 204); */
    font-family: "Afacad Flux", sans-serif;

    background-image: url("images/home_img1.jpg");
    /* background-size: cover; */
    background-size: contain;

    background-repeat: no-repeat;
}

/* .header ul{
    display: inline-block;
    list-style: none;
} */

.header{

    font-family: "Afacad Flux", sans-serif;
    /* margin-top: 0; */

    margin-left: 2%;
    margin-right: 2vw;

    display: flex;
    background: rgba(45, 136, 247, 0.062);
    backdrop-filter: blur(10px);

    overflow: hidden;
    position: fixed;

    top: 2vw;
    width: 100%;

    justify-content: space-between;
    align-items: center;
}

#uno{
    list-style: none;
    display: flex;
    align-items: center;

    margin-top: 0;
    /* padding: 0; */

    /* overflow: hidden;
    position: fixed; */

    /* position: relative;
    z-index: 1; */
}

#uno a{
    padding-right: 1vw;
    text-decoration: none;
    color: white;
    font-size: 1.5vw;
    margin-top: 0;
    /* padding-bottom: 6vw; */
    display: block;
}

#usno a:visited{
    color: white;
}

#uno li{
    padding-right: 1vw;
    float: left;
}

#logoimg {
    height: 50px;
}

/* #searchline{
    margin-right: 3%;
    width: 20vw;
    height: 2.5vw;

    border-radius: 5rem;
} */

#searchline{
    font-size: larger;
    /* margin-left: 10px; */
    padding-left: 1%;
}

.header input{
    margin-right: 4%;
    height: 2.5vw;
    width: 25vw;
    border-radius: 8rem;
    border: none;
}

#bgimg{
    margin-top: 0;
    margin-left: 0; margin-right: 0;
    width: 100%;
    height: auto;
}

#image #header {
    position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
}

.oneliner{
    text-align: center;
    /* justify-content: center;
     */
    /* margin-top: 3000%; */
    /* margin: 80 80 80 80; */

    /* display: flex; */
    /* display: grid;
    place-items: center;
    height: 100v; */

    margin-top: 40%;

    font-family: "Afacad Flux", sans-serif;
    font-size: 5vw;
    color: white;
    text-shadow: 3px 3px 8px black;
}


#up{
    margin-top: 20vw;
    margin-bottom: 0px;
}

#down{
    margin-bottom: 0px;
    margin-top: 0px;
}

.nexttrip{
    margin-top: 7%;
    margin-left: 4%;
    margin-right: 4%;

    font-size: large;
    color: azure;
}

#gotoDestination{
    text-align: right;
    margin-right: 0;
    margin-left: 70%;
}

#gotoDestination a{
    text-decoration: none;
    align-items: flex-end;
    text-align: right;
    margin-right: 0;
    margin-left: 1vw;
    color: white;

    flex-shrink: 0;

    padding-left: 2%;
    padding-top: .5%; padding-bottom: .5%;
    padding-right: 2%;
    border: 1px solid;
    border-radius: 1rem;
}

.triptext{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 71%;
    /* margin: 0 20px; */
}

.tripimages img{
    width: 31%;
    object-fit: cover;
    border-radius: 6%;
    margin-bottom: 0;
    margin-right: 2vw;
    padding-bottom: 0;
}

.tripimages{
    display: flex;
    
    justify-content: space-around;
    
    margin-top: 2%;
    
}

.tripimages img:last-child{
    margin-right: 0;
}



.tripimages a{
    list-style: none;
    color: black;
    font-size: 2vw;
    margin-top: 0;
}

#triplinks{
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 10px;
}

#triplinks a{
    text-decoration: none;
    width: 31%;
}

.tripimages img{
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


#l1:hover ~ #i1,
#l2:hover ~ #i2,
#l3:hover ~ #i3,
#i1:hover,
#i2:hover,
#i3:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgb(23, 86, 104);
}